/.cache/
/eln-cache/
/elpa/
/history
/transient/
/auto-save-list/
/eshell/history
/projects
/custom.el
/newsticker/
/server/
/tree-sitter/
/url/
/recentf
/tramp
/org-persist/
/bookmarks
/image-dired/
/multisession
/eww-bookmarks
/filesets-cache.el
/TAGS
*.elc
/network-security.data
/notes
/lisp/default.el
/shadow_todo
/places
/info/
/nov-places
/abbrev_defs
/ielm-history.eld
/comint/
/eshell/lastdir
/sql-history.eld
/gnus/.newsrc.eld
/gnus/.nnmail-cache
/gnus/.newsrc
/gnus/mbox/
/.org-id-locations
/org-clock-save.el
